<h1><%= @restaurant.name %></h1>
<div class="container ps-0 mt-4 mb-4">
  <p>Category: <span class="fw-lighter"><%= @restaurant.category %></span></p>
  <p>Address: <span class="fw-lighter"><%= @restaurant.address %></span></p>
  <p>Phone number: <span class="fw-lighter"><%= @restaurant.phone_number %></span></p>
</div>
<hr>
<div class="container ps-0">
  <h5>Reviews:</h5>
  <ul class="list-group">
  <% @restaurant.reviews.each do |review| %>
    <li class="list-group-item"><span>Rating: <%= review.rating %></span> - <%= review.content %></li>
  <% end %>
  <%= link_to "Create a review", new_restaurant_review_path(@restaurant), class: "btn btn-sm btn-primary"%>
</ul>
</div>
<br>
<%= link_to "Go back to restaurants", restaurants_path %>
